:root {
  --mainText: #FFF;
  --secondaryText:#EEEE;

  --borderColor: #164D56;
  --previewShadow: #2a2f25;
  --secondaryColor:#515a48;
  --mainColor: #606b56;
  --themeDotBorder: #fff;
  --previewBg: rgb(81, 90, 72, 0.8);
--buttonColor:#669966;
}