:root {
  --mainText: black;
  --secondaryText: #4b5156;

  --borderColor: #c1c1c1;
  --previewShadow: #f0ead6;
  --secondaryColor: #fff;
  --mainColor: #eaeaea;
  --themeDotBorder: #24292e;
  --previewBg: rgb(251, 249, 243, 0.8);
--buttonColor:black;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
  
}
body, *{
  transition: 0.3s ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
}
p,
li,
span,
label,
input,
text area {
  color: var(--secondaryText);
}
.s1 {
  border-bottom: 1px solid var(--borderColor);
  background-color: var(--mainColor);
  overflow: auto;
}
.s2 {
  border-bottom: 1px solid var(--borderColor);
  background-color: var(--secondaryColor);
  overflow: auto;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #17a2b8;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
.wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 10em;
}

.grid-wrap {
  display: grid;
  border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  grid-template-columns: 1fr 1fr;
  box-shadow: 4px -1px 13px 9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px -1px 13px 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px -1px 13px 9px rgba(0, 0, 0, 0.75);
  grid-template-areas:
    "nav nav"
    "lft rite";
 grid-auto-rows: minmax(30em auto);
  background-color: var(--secondaryColor);
}
.nav {
  grid-area: nav;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 5px 5px 0 0;
}
.left-column {
  grid-area: lft;
  padding-top: 50px;
  padding-bottom: 50px;
}
.right-column {
  grid-area: rite;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.dot-wrapper {
  display: flex;
  padding: 10px;
}
.browser-dot {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: black;
  margin: 5px;
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}
#dot1 {
  background-color: #fc6058;
}
#dot2 {
  background-color: #fec02f;
}
#dot3 {
  background-color: #2aca3e;
}
#navigation {
  margin: 0;
  padding: 10px;
}
#navigation a{
  color: black;
}
#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.theme-options-wrapper {
  display: flex;
  justify-content: center;
}
.theme-option {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  margin: 5px;
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  border: 2px solid var(--themeDotBorder);
  cursor: pointer;
}
#nurup {
  display: block;
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 0 auto;
  border: 2px solid var(--borderColor);
}
#light-mode {
  background-color: #fff;
}
#blue-mode {
  background-color: #192734;
}
#green-mode {
  background-color: #78866b;
}
#purple-mode {
  background-color: #7e4c74;
}
#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
.theme-option:hover {
  border-width: 5px;
}
#preview {
  width: 300px;
  border: 1.5px solid rgb(25, 249, 243, 0.8);
  padding: 15px;
  position: relative;
  background-color: var(--previewBg);
}
.corner {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 1px solid rgb(25, 249, 243, 0.8);
  background-color: #fff;
}
#corner-tl {
  position: absolute;
  top: -5px;
  left: -5px;
}
#corner-tr {
  position: absolute;
  top: -5px;
  right: -5px;
}
#corner-br {
  position: absolute;
  bottom: -5px;
  right: -5px;
}
#corner-bl {
  position: absolute;
  bottom: -5px;
  left: -5px;
}
#preview-shadow {
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
  background-color: var(--previewShadow);
}
@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width:800px) {
  .grid-wrap {

    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "lft"
      "rite";
  }
  .right-column{
    justify-content: center;
  }
}
.about-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 100px;
}
#skills{
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}
.social-link{
  display: grid;
  align-content: center;
  text-align: center;
}
#social-image{
  width: 100%;
}
.post-wrapper{
  display:grid;
  grid-template-columns:repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
  font-size: 14px;
}
.post{
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75) ;
  -moz-box-shadow:-2px 7px 21px -9px rgba(0,0,0,0.75);
  box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}
.post-preview{
  background-color: #fff;
  padding: 15px;

}
.post-title{
  margin: 0;
  color: black;
}
.post-intro{
color: #333;
font-size: 14px;  
}
#contact-form{
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid var(--borderColor);
  background-color: var(--mainColor);
  margin-bottom: 50px;
  border-radius: 5px;
 
}
#contact-form label{
  line-height: 2.7em;
}
#contact-form textarea{
  font-size: 14px;
  min-height: 100px;
}
.input-field{
  width: 100%;
  padding-top: 10px;
  padding-bottom:10px ;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size:14px;

}
#submit-btn{
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--buttonColor);
  border: none;
}
.thumbnail{
  width: 100%;
  height: 180px;
  object-fit: cover;
 
  
}

