:root {
  --mainText: #FFF;
  --secondaryText:#EEEE;

  --borderColor: #164D56;
  --previewShadow: #2b202f;
  --secondaryColor:#382a3f;
  --mainColor: #46344E;
  --themeDotBorder: #fff;
  --previewBg: rgb(29, 21, 32, 0.8);
--buttonColor:#8534a3;
}